@import url('https://fonts.googleapis.com/css?family=Roboto');

/*Variables*/
:root {
    --primary-color:rgb(5, 5, 5);
    --secondary-color:rgb(255, 255, 255);
    --terciary-color:rgb(185, 53, 48);
    --terciary-color-opacity: rgba(255,255,255,0.8)
}

/*Global*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
  }

a {
    text-decoration: none;
}
/*Quick Configuration Social Media Nav Bar*/

.social-media ul {
    display: flex;
    list-style: none;
    padding: 5px;
}

.social-media {
    align-self: center;
}
.social-media ul li {
    padding: 10px;
}

.social-media ul li a i{
    width: 20px;
    color: var(--primary-color);
    font-size: 25px;
}
  
/*Header Section Begin*/

  header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      opacity: 0.9;
      position: sticky;
      top:0;
      z-index: 999;
      background-color: var(--terciary-color);
    }
  /********Nav Begin**********/

  header nav ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
  }

  .nav-links li {
      padding: 10px;
      margin: 10px;
  }

  .nav-links li a {
      text-decoration: none;
      color: var(--primary-color);
      border-radius: 15%;
      padding: 14px 16px;
      font-size: 1em;
      font-weight: 300;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;        
  }
/*Nav End*/
/*Header End*/

/*Section Hero Begin*/

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-color: var(--terciary-color);
    height: 40vh;
}

.hero img {
    width: 6.4vw;
}
.presentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.presentation-text > p {
    font-weight: 100;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 10px;
    font-size: 25px;
}

.presentation-text h1 {
    font-size: 35px;
    padding: 5px;
    text-align: center;
}

/*Hero Section End*/

/*Works Section Begin*/

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    padding: 10px;
}

.work h1 {
    font-size: 1.8em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(9,5vw);
    grid-gap:10px;
}

.projects-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    position: relative;
}

.n0 {
    grid-column: 2/6;
    grid-row: 1/4;
}

.n1 {
    grid-column: 2/4;
    grid-row: 4/7;
}

.n2 {
    grid-column: 4/6;
    grid-row: 4/7;
}

.n3 {
    grid-column: 2/4;
    grid-row: 7/10;
}
.n4 {
    grid-column: 4/6;
    grid-row: 7/10;
}

.item div {
    background-color: var(--terciary-color-opacity);
    padding: 10px;
    border-radius: 10%;
    margin: 1vw 1vw;
    opacity: 1;
    position: absolute;
    top: 0;
    text-align: left;
    font-size: 0.8vw;
}

/*Work Section End*/

/*Section about me begin*/

.about-me {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--terciary-color);
    opacity: 1;
    padding: 20px 20px;
}

.about-me h2 {
    color: var(--primary-color);
    margin: auto auto;
    border-bottom: 1px solid var(--primary-color);
}

.about-me p {
    padding: 5px;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px;
    color: var(--primary-color);
}

/*Section About Me End*/

/*Section Contact Me Begin*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
    line-height: 1.5;
    background-color: var(--secondary-color);
}

.contact address {
    text-align: center;
    padding: 5px;
}

footer aside {
    margin: 0 auto;
    text-align: center;
}

/*Footer End */

/* Pseudo Classes */
/*Pseudo Classes for Header Nav*/
.nv-li a:hover {
    background-color: var(--primary-color);
    transition: 1.2s;
    color: var(--secondary-color);
}

/*Pseudo Classes for work section*/

.item img:hover {
    opacity: .8;
    transition: .9s;
}

.item:hover .text {
    opacity: 0;
    transition: 0.6s;
}

/*End Pseudo Classes for work section*/
/*Pseudo Classes End*/

/* Media Queries Begin*/

@media screen and (max-width: 980px) {
    
    .projects-container {
        grid-template-columns: repeat(6,20vw);
    }

    footer form {
        order:3
    }

}


@media screen and (max-width: 768px) {

  }
  

@media screen and (max-width:400px) {
    .nav-links {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .nav-links li {
        padding: 2px;
        margin: 0;
        font-size: 14px;
        text-align: center;
    }
    .nav-links li a {
        padding: 10px;
        text-align: center;
    }
  }
/*Media Queries End*/

/*To do

fix the avatar on media queries

make the readme file
/*