/*Variables*/
:root {
    --primary-color:rgb(0, 0, 0);
    --secondary-color:rgb(201, 207, 216);
    --terciary-color:rgb(60, 65, 71);
}

/*Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

  /*Header Section Begin*/

  header {
      display: flex;
      justify-content: space-between;
      position: sticky;
      top:0;
      z-index: 999;
  }
  .my-name {
      display: flex;
      padding: 10px;
      margin: 10px;
  }
  .my-name img {
      border-radius: 50%;
      width: 5vw;
  }
  .my-name p {
      font-weight: 600;
      text-align: left;
      margin: 10px;
  }
  .my-name span {
      font-weight: 100;
  }

  /********Nav Begins**********/

  header nav  {
    padding: 10px;
  }

  header nav ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
  }

  .nav-links li {
      padding: 15px;
      margin: 10px;
  }

  .nav-links li a {
      text-decoration: none;
      color: var(--primary-color);
      padding: 14px 16px;
      font-size: 17px;
      font-weight: 300;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;        
  }

